<h1>Stupid Coaching</h1>

<div>
  <h2>
    <%= params[:ask] %>
  </h2>
  <p>You</p>
</div>

<div>
  <h2>
    <%= @answer %>
  </h2>
  <p id="coach">Your Coach</p>
</div>



<p><%= link_to "Back to the question", ask_path %></p>
